<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%digimonForm.forEach(val=>{%>
        <h2><%=val.name%></h2>
        <img src="<%=val.img%>" alt="">
        <h3><%=val.level%></h3>

        <button class="add"> ADD TO FAVORITE</button>
        <form action="/add" method="POST" class="show">
            <input type="text" name="name" value="<%=val.name%>">
            <input type="text" name="img" value="<%=val.img%>">
            <input type="text" name="level" value="<%val.level%>">
        
        </form>

    <%})%>
    <script src="/public/app.js"></script>
</body>
</html>